<app-header></app-header>

<div class="container">
    <div class="img-class">
        <img src="../assets/images/Ellipse 50@2x.png" alt="" height="16px" width="16px">
        <img src="../assets/images/Line 42@2x.png" alt="" height="1px" width="78px">
        <img src="../assets/images/Ellipse 50@2x.png" alt="" height="16px" width="16px">
    </div>
    <h1 class = "registration">REGISTRATION</h1><br>
    <h1 class="success">SUCCESS</h1>
    <img src="../assets/images/Path 2811@2x.png" height="130.5px" width="130.5px" class="tacno">
    <button>LOG IN</button>
</div>
