*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

app-banner-slider{
    position: relative;
    z-index: 1000000000;
    /* margin-top: 41px; */
    /* padding: 27PX; */
    top: 56px;}

app-root{

position: relative;
}
