
    <div class="footer">
       <div id="slike">
        <div class="slicice">
            <img src="../assets/Slika5.png">
            <p>Home</p>
        </div>
            <div class="slicice">
                <img src="../assets/Slika1.png">
                <p>Prematch A-Z</p>
            </div>
            <div id="slika3">
                <img src="../assets/Slika3.png">
                <p>All live</p>
            </div>
            <div class="slicice">
                <img src="../assets/Slika4.png">
                <p>Bonuses</p>
            </div>
            <div class="slicice">
                <img src="../assets/Slika2.png">
                <p>Jackpot</p>
            </div>
        </div>
    </div>


