<!--Needs refactoring-->
<div class="sve">
    <div class="izbornik">
        <div id="slike">
            <div id="obruc1" >
                <div class="image" (click)="onSportClick(-1)">
                    <p>All</p>
                </div>
            </div>

        <div id="obruc2">
                <div class="image">
                    <img src="../assets/i_soccer.png" (click)="onSportClick(388)">
                </div>
        </div>

          <div id="obruc3">
                <div class="image">
                    <img src="../assets/i_tennis.png" (click)="onSportClick(389)">
                </div>
            </div>
        </div>
    </div>
</div>

